package layouts

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<title>Books</title>
			<script src="/js/htmx.min.js"></script>
			<link href="/css/app.css" rel="stylesheet"/>
		</head>
		<body>
			<main>
				{ children... }
			</main>
		</body>
	</html>
}
